@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
.heroSection{
    background: #e0e5ec;
    min-height: 380px;
    height: auto;
    margin: 10px 0;
    border-radius: 7px;
    padding: 0 20px;
  
}
.hero-text{
    margin: 10px 20px ;
    padding: 10px;
    align-self: center;
    min-height: 200px; 
    font-family: 'Montserrat', sans-serif;  
}
.txt-hero{
    max-width: 100%; 
}
.txt-hero-1{
    color: #fca903; 
    max-width: 100%; 
}

.hero-image{
    position: relative;
    min-height: 270px;
}
.img-hero{
    box-shadow: 0 8px 0px -4px #fca903;
    bottom: 0px;
    right: 20%;
}