@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.heroSection{
    background: #e0e5ec;
    min-height: 400px;
    height: auto;
    margin: 10px 0;
    border-radius: 7px;
    padding: 0 20px;
  
}
.hero-text{
    margin: 10px 20px ;
    padding: 10px;
    align-self: center;
    
     
}
.txt-hero-container{
    min-height: 250px;
    font-family: 'Josefin Sans', sans-serif;
}
.txt-hero{
    max-width: 100%; 
    font-family: 'Josefin Sans', sans-serif; 
    font-size: x-large;   
}
.txt-hero-1{
    color: #fca903; 
    max-width: 100%; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 900;
    font-size: x-large;
    letter-spacing: 2px;
}

.hero-image{
    position: relative;
    min-height: 270px;
}
.img-hero{
    box-shadow: 0 8px 0px -4px #fca903;
    
}