.options-menu{
    min-height: 50px;
    padding:  0 20px;
    height: 60px;
    min-width: fit-content;
    
    
}


.menu-opt{
 padding: 10px;
 margin: auto;
 width: max-content;
 font-size: large;
}