@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');
*,*::before,*::after{box-sizing: border-box;
  font-family: 'Silkscreen', cursive;
}
*::-webkit-scrollbar {
  width: 1em;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px whitesmoke;
  background-color: white;
}
 
*::-webkit-scrollbar-thumb {
  background-color: #e0e5ec;
  outline: 1px solid #fca903;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.App {
  text-align: center;
  background-color: white;
  width: auto;

}